<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 footer-section">
        <h4>About our webpage</h4>
        <p>Here is Our Webpage for Pcs gaming Build.</p>
      </div>

      <div class="col-md-4 footer-section">
        <h4>Links</h4>
        <ul class="footer-links">
          <li><a href="#">Home</a></li>
          <li><a href="#"> Pcs Gaming </a></li>
          <li><a href="#"> Components </a></li>
          <li><a href="#"> Contact Us </a></li>
        </ul>
      </div>

      <div class="col-md-4 footer-section">
        <h4>Follow Us</h4>
        <div class="social-icons">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
      </div>
    </div>

    <div class="text-center mt-4">
      <p>&copy; 2025 - PC Builder</p>
    </div>
  </div>
</footer>
